/* ---------------------------------------------
    Benoit Rospars 2013
    Site perso
------------------------------------------------
*/

body{
    font-family: 'pt_sansregular', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

.landing{
    font-family: 'capsuularegular', 'pt_sansregular', sans-serif;
	font-weight: 100;
    text-align: center;
    font-size: 3em;
    font-weight:100;
    padding: 0;
    color: #ffffff;
    color: rgba(175, 239, 225,0.8);
    margin-top: 3em;
}

.landing h1{
    margin: 0;
    height: 100px;
}

.landing a{
    margin-top: 0;
    padding: 1em;
}

.holdhide{
  display: inline-block;
  width: 300px;
  margin: 1em;
  font-size: 25px;
  line-height: 1.5em;
}

.holdhide-row{
  position:relative;
  display:inline-block;
}

.holdhide-txt{
  position:relative;
  display: inline-block;
  opacity:0;
  transform: translate3d(0px, 5px, 0px);
  transition:all .5s ease;
}

.holdhide:hover .holdhide-txt{
  opacity:1;
  transform: translate3d(0px, -5px, 0px);
}


.holdhide-underline{
  position:absolute;
  bottom:0;left:0;
  height:30%;
  width:100%;
  background: rgba(175, 239, 225,0.8);
}

.bottom_menu{
    position:absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: #2ABB9B;
    font-size: 1.5em;
    list-style: none;
    margin: 0;
}

/* Common style for pseudo-elements */
.bottom_menu::before,
.bottom_menu::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

/* Double Diagonal line */

.ss-style-doublediagonal {
	z-index: 1;
	padding-top: 0.8em;
	background: #2ABB9B;
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: #26a286;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

.bottom_menu li{
    display: inline-block;
    padding-right: 1%;
    vertical-align: middle;
    padding: 1%;
}

.bottom_menu a{
    text-decoration: none;
    color: #ffffff;
    color: rgba(255,255,255,0.8);
    /* border transparente puis apparente pour faire une transition en fondu */
    border-bottom: 3px solid rgba(255,255,255,0);
    
    /* Petite animation de border*/
    -moz-transition: color .3s, border .5s;
    -webkit-transition: color .3s, border .5s;
    -o-transition: color .3s,border .5s;
    transition: color .3s, border .5s;
}

.bottom_menu a:hover{
    color: #CCCCCC;
    color: rgba(0,0,0,0.3);
    border-bottom: 3px solid rgba(0,0,0,0.3);
}


header{
    text-align: center;
    font-size: 3em;
    font-weight:100;
    padding: 0;
    color: #ffffff;
    color: rgba(255,255,255,0.8);
    background: #2ABB9B;
    margin: 0;
    padding-bottom: 1%;
    border: 1px solid;
    
}

header p{
    display: inline-block;
    text-align: left;
    font-size: .5em;
    margin: 0;
    max-width: 30%;
    padding: 10px;
    border-top: 3px solid;
}

header .icon-phone, .icon-envelope{
    width: auto;
    height: 1em;
    padding: 2px 5px 0px 0px;
}

header .pp{
    display: inline-block;
    border-radius: 100%;
    width: 8%;
    vertical-align: top;
}