<header class="site-header">
    <div class="profile">
        <img src="https://pbs.twimg.com/profile_images/1007709690418159616/6zcNS5Hh_400x400.jpg" class="profile-picture" alt="Profile Picture Benoit Rospars"/>
        <h1 class="profile-title">Benoit Rospars</h1>
        <h2 class="profile-sub-title">Software engineer</h2>
    </div>
    <ul class="side-menu">
        {% assign url = page.url|remove:'index.html' %}
        {% for link in layout.navigation %}
            {% assign urllink = link.url|remove:'.html' %}
            <li {% if url == urllink %}class="active"{% endif %}>
                 <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="social-menu">
        <li><a href="https://www.linkedin.com/in/rosparsbenoit"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/Benuuts"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/brospars"><i class="fa fa-github"></i></a></li>
        <li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
</header>
