<header class="site-header">
    <div class="profile">
        <img src="https://pbs.twimg.com/profile_images/463451288865210368/nRwejaxk_bigger.jpeg" class="profile-picture"/>
        <h1 class="profile-title">Benoit Rospars</h1>
        <h2 class="profile-sub-title">Web Developer</h2>
    </div>
    <ul class="side-menu">
        {% assign url = page.url|remove:'index.html' %}
        {% for link in layout.navigation %}
            {% assign urllink = link.url|remove:'.html' %}
            <li {% if url == urllink %}class="active"{% endif %}>
                 <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
        {% endfor %}
        <li class="medium-hidden">
            <a href="">Projects</a>
            <ul class="side-sub-menu">
                <li><a href="http://brospars.github.io/gridy/">Gridy CSS Grid</a></li>
            </ul>
        </li>
    </ul>
    <ul class="social-menu">
        <li><a href="https://www.linkedin.com/in/rosparsbenoit"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/Benuuts"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/brospars"><i class="fa fa-github"></i></a></li>
        <li><a href="http://brospars.github.io/blog/feed.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
</header>
