/**
 * Set all elements box sizing default
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
a{
    text-decoration: none;
    color: $active-color;
}
a:hover{
    color:$active-color;
}
img{
    max-width: 100%;
    height:auto;
}

pre{
    max-width: 100%;
    background: $background-code;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: auto;
}

code{
    background: $background-code;
    padding: 0 2px;
}

blockquote{
    border-left: 5px solid #CCC;
    margin: 1rem .5rem;
    padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: .2em;
    font-weight: 300;
}

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }

    @return $value;
}


@for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: pow(1.2, $i) * 16px;
        line-height: 1.2;
        text-transform: unset;
    }
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.8;
}
.bold{
    font-weight: 700;
}
.italic{
    font-style: italic;
}
.upper{
    text-transform: uppercase;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

table th {
    padding: 5px 15px;
    text-align: left;
    background: #252525;
    color: #fff;
}

table tr:nth-child(2n) {
    background: #f5f5f5;
}

table td {
    padding: 5px 15px;
}
