/* HEADER */
.site-header{
    position: fixed;
    width: 300px;
    height: 100%;
    padding: 1rem;
}

.site-header a{
    color:inherit;
}

.profile{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.profile-picture{
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-title{
    margin:0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.profile-sub-title{
    margin:0;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: $grey-color-dark;
}

.side-menu{
    list-style: none;
    font-weight: 300;
}

.side-menu li{
    margin-bottom: 0.25rem;
}

.side-menu a:before{
    content:"";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1rem;
    right: 0.25rem;
    border-left: 2px solid $active-color;
    opacity: 0;
    transition: $default-transition;
}

.side-menu li.active > a:before,
.side-menu li:hover > a:before{
    opacity: 1;
}

.side-sub-menu{
    max-height: 0;
    overflow: hidden;
    list-style: none;
    font-size: .9em;
    
    transition: all .3s ease;
}

.side-menu li:hover .side-sub-menu{
    max-height: 20em;   
}

.social-menu{
    position: absolute;
    bottom: 2rem;
    margin: 0;
    list-style: none;
    text-align: center;
    color: $grey-color-dark;
}

.social-menu li{
    display: inline-block;
    vertical-align: middle;
}

.social-menu a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
}



/* PAGE CONTENT */
.page-wrapper{
    margin-left: 300px;
    padding: 9rem 2rem;
}
.page-content{
    width:95%;
    margin:0;
}

img{
    margin: 1em 0;   
}




/* About */
.what-i-love i{
    font-size: 2rem;
    color: $grey-color;
}
.what-i-love h5{
    border-bottom: 2px solid $grey-color;
    margin-bottom: 1em;
}

.timeline-table{
    
    td:nth-child(1){
        width: 100px;
        text-align: center;
    }
    
    td:nth-child(2){
        width: 70px;
        text-align: center;
    }
}

/* Post */
.post{
    position: relative;
    margin: auto;
    padding: 2rem 0;
    border-bottom: #EBF2F6 1px solid;
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    padding-left: 5px;
    line-height: 1;
    font-size: 0.8rem;
    color: #9EABB3;
    text-transform: uppercase;
}

.post-meta a{
    color:inherit;   
}

.post-title {
    margin: 0;
    line-height: 1;
}

.post-title a{
    color:inherit; 
}

.post-content{
    margin: 2rem 0;
}

.post-excerpt{
    margin-top: 5px;
}


@media (max-width: $max-width) {
    .site-header{
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .side-menu{
        padding:0;
        text-align: center;
    }
    
    .side-menu li{
        position: relative;
        display: inline-block;
        margin: 0.5rem;
        vertical-align: middle;
    }
    
    .side-menu li.medium-hidden{
        display: none;
    }
    
    .social-menu {
        position: relative;
        margin: 0;
        margin-top: 40px;
        padding:0;
    }
    
    .page-wrapper{
        margin-left: 0;
        padding: 2rem 2rem;
    }
}























